<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PELICULAS - LISTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="favicon" rel="icon" href="/images/pokeball.ico" type="image/x-icon"/>
    </head>
    <body>
        <h1>Titulo 1</h1>
        <h2>Titulo 2</h2>
        <h3>Titulo 3</h3>
        <h4>Titulo 4</h4>
        <h5>Titulo 5</h5>
        <h6>Titulo 6</h6>

        <p>Este es un párrafo</p>

        <li>
            <a href="http://www.google.com" target="_blank">Google externo</a>
            <a href="http://www.google.com" target="_self">Google interno</a>
        </li>


        <img src="/images/lissandra.jpg" alt="LISSANDRA">
        <form action="">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text">

            <button>Enviar datos</button>
        </form>
        <table>
            <!-- Table Row -->
            <tr>
                <!-- Table Header -->
                <th>Nombres</th>
                <th>Apellidos</th>
            </tr>
            <tr>
                <!-- Table Detail -->
                <td>Jacinto Andres</td>
                <td>Palma Zambrano</td>
            </tr>
        </table>

        <iframe src="https://saew.epn.edu.ec" frameborder="0">
        </iframe>

        <div>
            asdasd
        </div>

    </body>
</html>

